[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "deps/NeuralAmpModelerCore"]
	path = deps/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore
